@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: "border-box";
	font-family: Roboto, Arial, sans-serif;
}

header{
	background-color: #0DAB6C;
	height: 100px;
}

footer{
	background-color: #0DAB6C;
	color: #cccccc;
	clear: both;
	padding: 40px;
	margin-top: 100px;
}

footer p{
	text-align:center;
	font-size: 18px;
}

p{
	text-align: justify;
}

form {
	border: 5px solid #f1f1f1;
	padding: 10px 20px 10px 20px;
	width: 1000px;
	margin-top: 50px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}

form h1{
	text-align:center;
}

form h2{
	text-align:center;
}

form h3{
	text-align:center;
}

input[type=text], input[type=password], input[type=email], input[type=time], input[type=date], select {
	width: 100%;
	padding: 16px 8px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

#txtArea{
	border: 1px solid #ccc;
}

input[type=submit] {
    background-color: #0DAB6C;
    font-size: 16px;
    border: none;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    text-shadow: 0px 0px 1px #111111;
    text-decoration: none;
}

input[type=submit]:hover {
    background-color: #075F3C;
    border: none;
    color: #cccccc;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

button {
    background-color: #0DAB6C;
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

span.psw {
	float: right;
	padding-top: 0;
	padding-right: 15px;
}

#formCriarHorario {
	border: 0px none;
	padding: 0px 0px 0px 0px;
	width: 200px;
	margin-top: 0px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}

#tAgenda{
	max-width: 690px;
	margin-left: 18px;
	margin-bottom: 50px;
	border-collapse: collapse;
}

#tAgenda th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #0DAB6C;
	color: white;
}

#tAgenda td {
	background-color: #f1f1f1;
}

#tAgenda td a {
	text-decoration: none;
	color: #075F3C;
	font-weight: bolder;
}

#tAgenda td, #tAgenda th{
	border: 1px solid #075F3C;
  	padding: 8px;
}

#formBuscarHorario{
	margin-top: 0px;
	padding: 0px 0px 0px 0px;
	width: 450px;
	height: 300px;
	border: none;
}

#formSair{
	border: 0px none;
	padding: 0px;
	width: 0px;
	margin-top: 0px;
}

#divSair {
    float: right;
    margin-top: 20px;
    width: 20%;
}

#logo{
	float: left;
	margin-top:15px;
	width: 40%;
}

#menu{
	float: left;
	margin-top:40px;
	width: 40%;
}

#menu a{
	padding: 20px;
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 1px #111111;
}

#menu a:hover{
	background-color: #075F3C;
	color: #cccccc;
}

#div1{
	min-height: 500px;
    margin-left: 150px;
    margin-right: 150px;
	clear: both;
}

#alunosImg {
    padding: 50px 50px 0px 50px;
    height: 400px;
    float: left;
}

#alunosTxt {
    padding: 50px 50px 0px 50px;
    height: 400px;
}

#alunosTxt h1 {
    text-align: center;
}

#verHorario {
    float: left;
    margin-top: 25px;
    margin-left: 25px;
    padding: 40px 0px 0px 40px;
    min-height: 130px;
    width: 700px;
    border-radius: 20px;
    background-color: #cccccc;
}

#addHorario {
    float: left;
    margin-top: 25px;
    margin-left: 25px;
    padding: 40px 0px 0px 40px;
    height: 130px;
    width: 133px;
    border-radius: 20px;
    background-color: #cccccc;
}

#addHorario p {
    font-weight: bold;
    color: darkslategray;
}

#botaoAdd {
    margin-left: 20px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    font-size: 20px;
}

#botaoAdd:hover {
    background-color: #075F3C;
}

#resposta{
	margin-top: 25px;
	margin-left:270px;
	margin-bottom: 25px;
	background-color: #cccccc;
	border-radius: 20px;
	padding: 40px 0px 0px 20px;
	min-height: 500px;
	width: 800px;
}

#forum{
	float: left;
	margin-top: 25px;
	margin-left: 100px;
	margin-right: 25px;
	margin-bottom: 25px;
	background-color: #cccccc;
	border-radius: 20px;
	padding: 40px 0px 0px 40px;
	min-height: 500px;
	width: 800px;
}

#forum table{
	text-align: center;
	margin-left: 50px;
	width: 700px;
}

#forum table caption{
    color: darkslategray;
    font-weight: bold;
}

#criarForum{
	float: left;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: #cccccc;
	border-radius: 20px;
	padding: 40px 0px 0px 40px;
	min-height: 500px;
	width: 250px;
}

#botaoForum {
    margin-left: 80px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    font-size: 20px;
}

#linha{
	margin-left:-30px;
	width: 267px;
}

#criarForum p {
	margin-left: 58px;
    font-weight: bold;
    color: darkslategray;
}

#formCriarForum {
	margin-top: 0px;
	padding: 0px 0px 0px 0px;
	border: none;
}

#formBuscarForum{
	margin-top: 0px;
	padding: 0px 0px 0px 0px;
	width: 400px;
	border: none;
}

#formBuscarForum input[type=text]{
	height: 30px;
}

#tForum{
	max-width: 690px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	border-collapse: collapse;
}

#tForum th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #0DAB6C;
	color: white;
}

#tForum td {
	background-color: #f1f1f1;
	text-align: justify;
}

#tForum td a {
	text-decoration: none;
	color: #075F3C;
	font-weight: bolder;
}

#tForum td, #tForum th{
	border: 1px solid #075F3C;
  	padding: 8px;
}

#tResposta{
	min-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	border-collapse: collapse;
}

#tResposta th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #0DAB6C;
	color: white;
}

#tResposta td {
	background-color: #f1f1f1;
	text-align: justify;
}

#tResposta td a {
	text-decoration: none;
	color: #075F3C;
	font-weight: bolder;
}

#tResposta td, #tResposta th{
	border: 1px solid #075F3C;
  	padding: 8px;
}

txtArea{
	border: none;
}

#msgS{
	color: green;
	margin-left: 50px;
}

#msgE{
	color: red;
	margin-left: 50px;
}

.container{
	width: 960px;
	margin: auto;
}